<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Beamer</title>

    <link rel="stylesheet" href="../assets/styling/all.css" />
    <!-- Owl carousel  -->
    <link rel="stylesheet" href="../assets/styling/owl.carousel.min.css " />
    <link rel="stylesheet" href="../assets/styling/owl.theme.default.min.css" />
    <!-- Owl carousel  -->

    <!-- Animation on scroll -->
    <link rel="stylesheet" href="../assets/styling/aos.css" />
    <!-- Animation on scroll -->
    <link rel="stylesheet" href="../assets/styling/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="nav">
      <div class="nav-menu flex-row">
        <div class="nav-brand">
          <a href="index.html" class="text-gray"> Beamer</a>
        </div>
        <div class="toggle-collapse">
          <div class="toggle-icons">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <div>
          <ul class="nav-items">
            <li class="nav-link">
              <a href="#service">About us</a>
            </li>
            <li class="nav-link">
              <a href="#service">Body Work</a>
            </li>
            <li class="nav-link">
              <a href="#futa">Technical work</a>
            </li>
            <li class="nav-link">
              <a href="#potfolio">Testimonials</a>
            </li>
            <li class="nav-link">
              <a href="#futa">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="social text-gray">
          <a href="https://www.instagram.com/"
            ><i class="fb fab fa-facebook-f"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="ig fab fa-instagram"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="twitter fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="u-tube fab fa-youtube"></i
          ></a>
        </div>
      </div>
    </nav>
    <!-- Navigation -->

    <!-- Main section -->
    <!-- Landing section -->
    <main>
      <section class="site-title">
        <div class="site-background" data-aos="fade-up" data-aos-delay="300">
          <h3>Beamer</h3>
          <h1>Your trusted specialist in BMW</h1>
          <button class="btn">Learn more</button>
        </div>
      </section>
    </main>
    <!-- Landing section -->
    <!-- Main section -->
    <script src="../js/jquery3.4.1.min.js"></script>

    <!-- Owl carousel js  -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Animation on scroll -->
    <script src="../js/aos.js"></script>
    <!-- Custome js -->
    <script src="../js/main.js"></script>
  </body>
</html>
