<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Beamer</title>

    <link rel="stylesheet" href="../assets/styling/all.css" />
    <!-- Owl carousel  -->
    <link rel="stylesheet" href="../assets/styling/owl.carousel.min.css " />
    <link rel="stylesheet" href="../assets/styling/owl.theme.default.min.css" />
    <!-- Owl carousel  -->

    <!-- Animation on scroll -->
    <link rel="stylesheet" href="../assets/styling/aos.css" />
    <!-- Animation on scroll -->
    <link rel="stylesheet" href="../assets/styling/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="nav">
      <div class="nav-menu flex-row">
        <div class="nav-brand">
          <a href="index.html" class="text-gray"> Beamer</a>
        </div>
        <div class="toggle-collapse">
          <div class="toggle-icons">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <div>
          <ul class="nav-items">
            <li class="nav-link">
              <a href="index.html">Home</a>
            </li>
            <li class="nav-link">
              <a href="body.html">Body Work</a>
            </li>
            <li class="nav-link">
              <a href="technical.html">Technical work</a>
            </li>
            <li class="nav-link">
              <a href="#futa">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="social text-gray">
          <a href="https://www.instagram.com/"
            ><i class="fb fab fa-facebook-f"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="ig fab fa-instagram"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="twitter fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="u-tube fab fa-youtube"></i
          ></a>
          <a href="#">
            <i>0724-533-263</i>
          </a>
        </div>
      </div>
    </nav>
    <!-- Navigation -->

    <!-- Main section -->
    <!-- Landing section -->
    <main>
      <section class="about-title">
        <div class="about-background" data-aos="fade-up" data-aos-delay="300">
          <h3>Know us</h3>
          <h1>Specialists in European vehicles, Particularly the BMW</h1>
          <button onclick="window.location.href='#futa';" class="btn">
            Contacts
          </button>
        </div>
      </section>

      <section class="info">
        <article>
          <!-- <img src="../assets/images/facelift.jpg" alt="Sample photo" /> -->
          <div class="img">
            <h1>Speciality</h1>
            <hr />
          </div>
          <div class="text">
            <ul>
              <li>BMW</li>
              <li>Vogue with BMW'S V8 engine</li>
              <li>Mercedes Benz</li>
              <li>VW</li>
              <li>Audi</li>
            </ul>
          </div>
        </article>
        <article>
          <!-- <img src="../assets/images/facelift.jpg" alt="Sample photo" /> -->
          <div class="img">
            <h1>Location</h1>
            <hr />
          </div>
          <div class="text">
            <ul>
              <li>Lang'ata, Nairobi</li>
              <li>Off Lang'ata Road</li>
              <li>600M from Lang'ata Baracks round-about</li>
            </ul>
          </div>
        </article>
        <article>
          <!-- <img src="../assets/images/facelift.jpg" alt="Sample photo" /> -->
          <div class="img">
            <h1>Other services</h1>
            <hr />
          </div>
          <div class="text">
            <ul>
              <li>Carpet wash</li>
              <li>Vacuum cleaning</li>
              <li>Technical training</li>
            </ul>
          </div>
        </article>
      </section>
    </main>

    <!-- footer -->
    <!-- Footer -->
    <footer id="futa" class="footer">
      <div class="container">
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
          <h2>About Us</h2>
          <p>Abstract Frames is a media company that...</p>
        </div>
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
          <h2>Contact Us</h2>
          <p>beamergarage@gmail.com</p>
          <p>0724-533-263</p>
          <p>0721-000-000</p>
        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="400">
          <h2>Follow</h2>
          <p>Find us...</p>
          <div>
            <a href="https://www.instagram.com/"
              ><i
                data-aos="fade-right"
                data-aos-delay="50"
                class="fb fab fa-facebook-f"
              ></i
            ></a>
            <a href="https://www.instagram.com/"
              ><i
                data-aos="fade-right"
                data-aos-delay="200"
                class="ig fab fa-instagram"
              ></i
            ></a>
            <a href="https://www.instagram.com/"
              ><i
                data-aos="fade-right"
                data-aos-delay="500"
                class="twita fab fa-twitter"
              ></i
            ></a>
            <a href="https://www.instagram.com/"
              ><i
                data-aos="fade-right"
                data-aos-delay="900"
                class="u-tube fab fa-youtube"
              ></i
            ></a>
          </div>
        </div>
      </div>
      <div class="rights flex-row">
        <h4 class="test-gray">
          &copy; beamer auto garage
        </h4>
      </div>

      <div class="move-up">
        <span>
          <i class="fas fa-arrow-circle-up fa-2x"></i>
        </span>
      </div>
    </footer>
    <!-- footer -->
    <!-- Landing section -->
    <!-- Main section -->
    <script src="../js/jquery3.4.1.min.js"></script>

    <!-- Owl carousel js  -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Animation on scroll -->
    <script src="../js/aos.js"></script>
    <!-- Custome js -->
    <script src="../js/main.js"></script>
  </body>
</html>
