<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Beamer</title>

    <link rel="stylesheet" href="../assets/styling/all.css" />
    <!-- Owl carousel  -->
    <link rel="stylesheet" href="../assets/styling/owl.carousel.min.css " />
    <link rel="stylesheet" href="../assets/styling/owl.theme.default.min.css" />
    <!-- Owl carousel  -->

    <!-- Animation on scroll -->
    <link rel="stylesheet" href="../assets/styling/aos.css" />
    <!-- Animation on scroll -->
    <link rel="stylesheet" href="../assets/styling/style.css" />
  </head>
  <body>
    <!-- Navigation -->
    <nav class="nav">
      <div class="nav-menu flex-row">
        <div class="nav-brand">
          <a href="index.html" class="text-gray"> Beamer</a>
        </div>
        <div class="toggle-collapse">
          <div class="toggle-icons">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <div>
          <ul class="nav-items">
            <li class="nav-link">
              <a href="index.html">Home</a>
            </li>
            <li class="nav-link">
              <a href="info.html">About us</a>
            </li>
            <li class="nav-link">
              <a href="body.html">Body Work</a>
            </li>
            <li class="nav-link">
              <a href="info.html">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="social text-gray">
          <a href="https://www.instagram.com/"
            ><i class="fb fab fa-facebook-f"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="ig fab fa-instagram"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="twitter fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="u-tube fab fa-youtube"></i
          ></a>
          <a href="#">
            <i>0724-533-263</i>
          </a>
        </div>
      </div>
    </nav>
    <!-- Navigation -->

    <!-- Main section -->
    <!-- Landing section -->
    <main>
      <!-- Section-head -->
      <section class="section-title">
        <div class="section-head">
          <h3>Technical works</h3>
          <hr />
        </div>
      </section>

      <!-- Image cards -->
      <!-- <section class="service-card">
          <div class="cards">
            <div class="cards-content">
              <div class="card-image">
                <div>
                  <img src="../assets/images/bluengine.jpg" alt="" class="img" />
                </div>
                <span class="card-info">Spray painting and buffing</span>
              </div>
            </div>
            <div class="cards-content">
              <div class="card-image">
                <div>
                  <img src="../assets/images/bluengine.jpg" alt="" class="img" />
                </div>
                <span class="card-info">Spray painting and buffing</span>
              </div>
            </div>
          </div>
        </!-->

      <section class="card">
        <article>
          <img src="../assets/images/diagnosis.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Check Engine and electronic diagnosis</h3>
            <p>
              Collaboratively administrate empowered markets via plug-and-play
              networks.
            </p>
          </div>
        </article>
        <article>
          <img src="../assets/images/suspension.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Suspension lifting</h3>
            <p>
              Dramatically engage seamlessly visualize quality intellectual
              capital without superior collaboration and idea-sharing.
            </p>
          </div>
        </article>
        <article>
          <img src="../assets/images/boost.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Piston misfire</h3>
            <p>
              Completely synergize resource taxing relationships via premier
              niche markets.
            </p>
          </div>
        </article>
      </section>
      <section class="card">
        <article>
          <img src="../assets/images/gear.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Transmission probblems</h3>
            <p>
              Collaboratively administrate empowered markets via plug-and-play
              networks.
            </p>
          </div>
        </article>
        <article>
          <img src="../assets/images/interior.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Sensor mulfunction</h3>
            <p>
              Dramatically engage seamlessly visualize quality intellectual
              capital without superior collaboration and idea-sharing.
            </p>
          </div>
        </article>
        <article>
          <img src="../assets/images/spana.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Oil change</h3>
            <p>
              Completely synergize resource taxing relationships via premier
              niche markets.
            </p>
          </div>
        </article>
      </section>
      <section class="card">
        <article>
          <img src="../assets/images/sport.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Performance tunning</h3>
            <p>
              Collaboratively administrate empowered markets via plug-and-play
              networks.
            </p>
          </div>
        </article>
        <article>
          <img src="../assets/images/overheat.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Engine overheat</h3>
            <p>
              Dramatically engage seamlessly visualize quality intellectual
              capital without superior collaboration and idea-sharing.
            </p>
          </div>
        </article>
        <article>
          <img src="../assets/images/revamp.jpg" alt="Sample photo" />
          <div class="text">
            <h3>Ignition timming</h3>
            <p>
              Completely synergize resource taxing relationships via premier
              niche markets.
            </p>
          </div>
        </article>
      </section>
      <!-- Image cards -->
      <!-- Section-head -->
    </main>
    <!-- Landing section -->
    <!-- Main section -->
    <script src="../js/jquery3.4.1.min.js"></script>

    <!-- Owl carousel js  -->
    <script src="../js/owl.carousel.min.js"></script>
    <!-- Animation on scroll -->
    <script src="../js/aos.js"></script>
    <!-- Custome js -->
    <script src="../js/main.js"></script>
  </body>
</html>
