@font-face {
  font-family: Abel;
  src: url("../../fonts/Abel/Abel-Regular.ttf");
}
@font-face {
  font-family: Anton;
  src: url("../../fonts/Anton/Anton-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: Source_Sans_Pro;
  src: url("../../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: Verela_Round;
  src: url("../../fonts/Varela_Round/VarelaRound-Regular.ttf");
}
