/*Import fonts*/
@import url("../styling/fonts.css");
/*Import fonts*/
/* Main styling */
html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* CSS Variables*/
:root {
  /* font family */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Roboto: "Roboto", cursive;
  --Source_Sans_Pro: "Source_Sans_Pro", cursive;
  --Verela_Round: "Verela_Round", cursive;

  /* colors */

  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --black: #000000;
  --manjano: #e6ac00;
  --text-gray: #3f4954;
  --text-gray: #3f4954;
  --text-gray: #3f4954;
  --blu: #338ceb;

  /* gradient color (to change matching AF)*/
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --mayai: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  --nyeusi: linear-gradient(to right, #434343 0%, black 100%);
}
/* CSS Variables*/

/* Global classes */
a {
  text-decoration: none;
  /*colors to be changed */
  color: var(--text-gray);
}
ul {
  list-style-type: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-family: var(--Abel);
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
  font-family: var(--Verela_Round);
}
p {
  font-family: var(--Abel);
  color: var(--text-light);
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Source_Sans_Pro);
  cursor: pointer;
}

span {
  font-family: var(--Abel);
}
.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

/* Global classes */

/* Navigation bar */

.nav {
  background: rgb(217, 221, 224);
  padding: 0% 2rem;
  height: 0;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}
.nav .nav-menu {
  justify-content: space-between;
}
.nav .toggle-collapse {
  position: absolute;
  cursor: pointer;
  top: 0%;
  width: 90%;
  display: none;
}
.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i {
  font-size: 1.7rem;
  color: var(--text-gray);
}
.nav .nav-items {
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem;
  color: var(--black);
}

.collapse {
  height: 20rem;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  /*calling fontFamily variable*/
  font-family: var(--Roboto);
}
.nav .nav-items .nav-link:hover {
  background-color: var(--blu);
  border-radius: 5px;
  color: white;
}
.nav .nav-items .nav-link:hover a {
  color: var(--white);
}
.nav .social {
  padding: 1.4rem 0;
}
.nav .social i {
  padding: 0 0.2rem;
}
.nav .social .fb {
  color: blue;
}
.nav .social .ig {
  color: rgb(115, 9, 119);
}
.nav .social .twitter {
  color: rgb(75, 145, 236);
}
.nav .social .u-tube {
  color: rgb(199, 11, 11);
}
.nav .social i:hover {
  color: #bfbfbf;
}
/* Navigation bar */

/* Main  */
/* Landing section */
main .site-title {
  /* background: url("../assets/alexandru-g-stavrica-J5Si8M5IIhU-unsplash.jpg"); */
  background: url("../images/e46.jpg");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}

.about-title {
  /* background: url("../assets/alexandru-g-stavrica-J5Si8M5IIhU-unsplash.jpg"); */
  background: url("../images/about.jpg");
  opacity: 0.7;
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
}
main .site-title .site-background,
.about-title .about-background {
  padding-top: 10rem;
  text-align: center;
  color: var(--white);
  z-index: 100;
}
main .site-title,
.about-title h1,
h3 {
  margin: 0.3rem;
}

main .site-title .btn,
.about-title .btn {
  background: var(--mayai);
}

main .site-title .btn:hover,
.about-title .btn:hover {
  background: transparent;
  border: 1px solid white;
  color: var(--white);
}
/* Landing section */

/* Other pages */
main .section-title .section-head {
  color: rgb(72, 100, 226);
  text-align: center;
}
main .section-title .section-head hr {
  width: 10%;
  margin: auto;
}
/* Image-cards */
/* main .service-card {
  display: grid;
  grid-template-columns: 50% 50%;
}
main .cards-content {
  width: 100%;
}
main .service-card .cards-content > .card-image {
  padding: 1rem, 2rem;
  position: relative;
  margin: 2rem;
}
main .service-card .cards-content > .card-image .img {
  width: 100%;
} */

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: start;
  margin: 2rem;
}
.card > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
/* About page */
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: start;
  margin: 2rem;
}
.info > article .img {
  max-width: 100%;
  color: var(--blu);
}
.text {
  padding: 0 20px 20px;
}
/* About */
/* Image-cards */
/* Other pages */
/* Main */
/* Responsiveness */

/* Media query for ViewPort =< 1130px*/

@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 0.1rem !important;
    bottom: 0.2rem !important;
    border-radius: 0% !important;
  }

  .site-content .sidebar .popular-post .post-info {
    /* removes the link to youtube */
    display: none !important;
  }

  footer.footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Media query for ViewPort =< 1130px*/

/* Media query for ViewPort =< 750px media queries*/
@media only screen and (max-width: 750px) {
  .nav .nav-items .nav-link {
    padding: 0.6rem 1rem !important;
  }
  .nav .nav-menu,
  .nav .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }

  main .site-content {
    grid-template-columns: 100%;
  }
  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ViewPort =< 750px*/

/* ViewPort =< 520 */

@media only screen and (max-width: 520px) {
  nav .toggle-collapse {
    width: 85% !important;
  }
  main .blog {
    height: 125vh;
  }
  .site-content .post-content > .post-image .post-info {
    display: none;
  }

  footer.footer .container > div {
    padding: 0.3rem 0.5rem !important;
  }
}
/* ViewPort =< 520 */
/* Responsiveness */
